@import url("https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Roboto:900");

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
/*	margin-left: 15px;
	margin-right: 15px;
	padding-left: 0px;
	padding-right: 0px;*/
}

ul li {
	list-style: none;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: white;
	height: 83px;
}

a .nav-ul-li {
	color: #111111;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif;
	display: inline-block;
	text-align: center;
	margin: 40px auto 40px auto;
}

h1 {
	font-size: 65px;
	border-bottom: #e74c3c solid 10px;
}

h2 {
	font-size: 55px;
	text-decoration: underline #e74c3c;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 35px;
}

h5 {
	font-size: 25px;
}

h6 {
	font-size: 15px ;
}

p, label, .main-p-ul{	
	font-family: "IM Fell DW Pica", serif;
}

label {
	display: block;
	text-align: left;
	/*color: white;*/
	color: #e74c3c;
	padding-top: 8px;
	font-size: 17px;
}

input {
	width: 100%;
	height: 35px;
	border: solid black thin;
	border-radius: 0px;
}

textarea {
	height: 180px;
	width: 100%;
	border: solid black thin;
}

/*Unstyle a Bootstrap Issue */

.row {
	margin-left: 0;
	margin-right: 0;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


.highlight {
	color: #e74c3c;
}


/* Nav */

/* Override Bootstrap Nav Styles */
.navbar-default, .navbar-collapse {
    /*background-color: #fff;
    border-color: #e7e7e7;*/
    /*height: 85px;*/
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .6);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: white;
}

.navbar-default .navbar-form{
	margin-top: 30px;
}

.logo-icon {
	height: 50px;
	width: 50px;
	margin-left: 20px;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-toggle {
	margin: 15px 30px;
}

.hamburger-bar {
	width: 45px;
	display: inherit;
	opacity: .7;
}

/* Toggle these classes to hamburger menu when clicked */
.hamburger-clicked-top {
	transform: rotate(45deg) translate(17%, 16px);
}

.hamburger-clicked-middle {
	display: none;
}

.hamburger-clicked-bottom {
	transform: rotate(-45deg) translate(-18%, -2px);
}

.nav-ul {
	margin-right: 40px;
}

.nav-ul-li {
	text-align: center;
	display: block;
	padding: 10px;
	font-size: 25px;
	font-family: "IM Fell DW Pica", serif;
}

.hero-img {
	height: 100vh;
	text-align: center;
	position: relative;
	background-color: white;
}

.section-hero-text {
	margin: 130px auto 0 auto;
	position: absolute;
    top: 20%;
    right: 7%;
    left: 7%;
}

.hero-h1 {
	font-size: 3.5rem;
}

.hero-text-p {
	font-size: 2rem;
    text-align: center;
    margin-top: -35px;
}

/* Intro Section */

.main-intro, .main-section {
	text-align: center;
}

.main-intro {
	background-color: white;
}

.main-intro-h2 {
	float: right;
    display: block;
    margin-right: 0px;
    border-bottom: none;
    padding: 80px 0;
}

.main-intro-h3 {
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-family: "IM Fell DW Pica", serif;
	color: #e74c3c;
}

.eileen-img {
    display: block;
    margin: 0 auto 70px auto;
    display: block;
    padding: 0;
}

.main-p, .main-p-ul {
	font-size: 2rem;
	text-align: left;
}

.main-p-ul {
	margin-bottom: 70px;
}

.main-p-ul-li {
	list-style: initial;
}

.main-p-personal-details {
	margin-top: 30px;
}


.main-section::before {
  content: ' ';
  display: block;
  background-image: url('../assets/images/brick.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; // This is pretty important.
}

.main-projects-h2 { 
	margin-top: 80px;
	margin-bottom: 80px;
}

.project-img-section {
	margin-top: 15px;
}

.project-img-section-img {
 	margin-bottom: 90px;
 	padding-left: 0px;
    padding-right: 0px;
}

/* Contact Section */

.form-contact-info{
	margin-top: 70px;
}

.contact-h2 {
	margin-top: 0;
    display: block;
    margin-right: 0px;
    border-bottom: none;
}

.submit-btn {
	background-color: #e74c3c;
	margin: 40px auto 70px auto;
	color: white;
	font-family: "IM Fell DW Pica", serif;
	font-size: 23px;
	border: none;
	padding: 0px 20px;
	float: left;
}

/* Footer */

.footer {
	background-attachment: fixed;
	margin-top: 0px;
}

.footer-social-links {
	position: relative;
}

.footer-contact-info-ul {
    position: relative;
    margin-left: 20px;
    margin-top: 120px;
    font-family: "IM Fell DW Pica", serif;
    font-size: 20px;
}

.footer-social-links-ul {
	position: relative;
	margin-left: 10px;
}

.footer-social-links-li {
	float: left;
}

.footer-social-links-li a{
	color: #111111;
	padding-right: 20px;
}

.nav-ul-social-h4 {
	border-bottom: none;
}

.main-section::before {
  content: ' ';
  display: block;
  background-image: url('../assets/images/brick.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; // This is pretty important.
}

/* States */

a:hover {
	text-decoration: none;
}

.nav-ul-li:hover, .nav-ul-social-h4:hover  {
	color: #e74c3c;
	transition: .5s;
}

.nav-ul-social-h4:hover {
	transform: translateY(-5px);
}

.navbar-toggle:hover {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover  {
    background-color: #ddd;
    border-radius: 0;
}

.submit-btn:hover {
	background-color: #BA392C;
}

.project-shadow:hover {
	position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
    transition: .65s;
    transform: scale(1.03);
}

.project-img-section-img:active {
	transform: scale(.98);
	transition: .2s;
}

.form-contact-info input:hover .form-contact-info label {
	color: red;
}

.project-shadow img {
    border: 0px solid #8a4419;
    border-style: inset;
}

/*Playing Around with mobile fixed images*/
.hero-img, footer {
	background: white;
}

.project-shadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .8);                
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}


/* Media Queries */
@media only screen and (min-width: 560px) {

	.section-hero-text {
		margin: 130px auto 0 auto;
		position: absolute;
	    top: 20%;
	    right: 7%;
	    left: 7%;
	}

	.hero-h1 {
		font-size: 6rem;
	}

	.hero-text-p {
		font-size: 3.5rem;
	}

}

@media only screen and (min-width: 768px) {

	h2 {
		font-size: 75px;
	}

	.nav-ul-li {
		text-align: left;
		display: inline-block;
	}

	.nav-ul {
		height: 70px;
		margin-top: 13px;
	}

	.hero-img {
		height: 100vh;
	}

	.section-hero-text {
		margin: 130px auto 0 auto;
		position: absolute;
	    right: 7%;
	    left: 7%;
	}

	.hero-h1 {
  		font-size: 8rem;
    }

	.hero-text-p {
		font-size: 4rem;
	}

	.project-img-section-img {
 		margin-left:12%;
 	}

 	.main-intro-h2 {
 		margin-top: 20%;
 		padding: 0;
 	}

 	.section-contact {
 		position: relative;
 		height: 380px;
 	}

 	.section-contact-form {
 		float: right;
 	}

	.contact-h2 {
		position: absolute;
	    text-decoration: underline #e74c3c;
	    font-size: 75px;
	    top: 60%;
	    border-bottom: none;
	}

	.form-contact-info {
		padding-right: 0;
	}

	.nav-ul-li:hover, .nav-ul-social-h4:hover  {
		border-bottom: solid;
  	  padding-bottom: 2px;
	}

	.footer {
		height: 325px;
	}
}

@media only screen and (min-width: 901px) {

	.footer-contact-info-ul {
		position: absolute;
	    top: 50%;
	    left: 17%;
	    margin-top: 120px;
	    margin-bottom: 120px;
	}

	.footer-social-links-ul {
		float: right;
		position: absolute;
	    top: 50%;
	    right: 20%;
	    margin-top: 100px;
	}

}

@media only screen and (min-width: 1025px) {

	.hero-h1 {
		font-size: 9rem;
	}

	.hero-text-p {
		font-size: 5rem;
	}

	.main-intro-h3 {
		font-size: 55px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.main-p,.main-p-ul {
		font-size: 2.3rem;
	}

	.main-p-ul {
		margin-bottom: 70px;
	}

}