@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Roboto:900');

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
/*	margin-left: 15px;
	margin-right: 15px;
	padding-left: 0px;
	padding-right: 0px;*/
}

ul li {
	list-style: none;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: white;
}

a .nav-ul-li {
	color: #111111;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	border-bottom: #e74c3c solid 10px;
	text-align: center;
	margin: 40px auto 40px auto;
}

h1 {
	font-size: 65px;
}

h2 {
	font-size: 55px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 35px;
}

h5 {
	font-size: 25px;
}

h6 {
	font-size: 15px ;
}

/*Unstyle a Bootstrap Issue */

.row {
	margin-left: 0;
	margin-right: 0;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


.highlight {
	color: #e74c3c;
}


/* Nav */

/* Override Bootstrap Nav Styles */
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    height: 85px;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: white;
}

.navbar-default .navbar-form{
	margin-top: 30px;
}

.logo-icon {
	height: 50px;
	width: 50px;
	margin-left: 20px;
}

.nav-ul {
	margin-right: 40px;
}

.nav-ul-li {
	text-align: center;
	display: block;
	padding: 10px;
	font-size: 25px;
	font-family: 'IM Fell DW Pica', 'serif';
}

.navbar-toggle {
	margin: 25px 30px;
}

.hero-img {
	background-image: url('../assets/images/eileen-stand-in.jpg');
	height: 500px;
	background-size: cover;
}

/* Intro Section */

.main-intro, .main-projects {
	text-align: center;
}

.main-intro-h3 {
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-family: 'IM Fell DW Pica', 'serif';
	color: #e74c3c;
}

.main-p {
	margin: 0px 7% 60px 7%;
}

.main-projects {
	background-image: url('../assets/images/brick.png');
	background-attachment: fixed;
	padding-bottom: 80px;
}

.main-projects-h2 { 
	margin-top: 80px;
	margin-bottom: 80px;
}

.project-img-section {
	margin-top: 15px;
}

.project-img-section-img {
 	margin-bottom: 30px;
 	padding-left:0px;
    padding-right: 0px;
}

/* Footer */

.footer {
	/*background-image: url('../assets/images/brick.png');*/
	background-attachment: fixed;
	margin-top: 0px;
}

.footer-social-links {
	position: relative;
}

.footer-contact-info-ul {
    position: relative;
    margin-left: 20px;
    margin-top: 120px;
    font-family: 'IM Fell DW Pica', 'serif';
    font-size: 20px;
}

.footer-social-links-ul {
	position: relative;
	margin-left: 10px;
}

.footer-social-links-li {
	float: left;
}

.footer-social-links-li a{
	color: #111111;
	padding-right: 20px;
}

.nav-ul-social-h4 {
	border-bottom: none;
}

/* Hover States */

a:hover {
	text-decoration: none;
}

.nav-ul-li:hover, .nav-ul-social-h4:hover  {
	color: #e74c3c;
	transition: .5s;
}

.project-shadow:hover {
	position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
/*    padding: 10px;*/
    /*background: white;*/
    transition: .65s;
    transform: scale(1.03);
}

.project-shadow img {
/*    width: 100%;*/
    border: 0px solid #8a4419;
    border-style: inset;


}

.project-shadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .8);                
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}


/* Media Queries */

@media only screen and (min-width: 768px) {

	.nav-ul-li {
		text-align: left;
		display: inline-block;
	}

	.nav-ul {

		margin-top: 13px;
	}

	.project-img-section-img {
 		margin-left:12%;
 	}
}

@media only screen and (min-width: 901px) {
	.footer-contact-info-ul {
		position: absolute;
	    top: 50%;
	    left: 17%;
	    margin-top: 120px;
	    margin-bottom: 120px;
	}

	.footer-social-links-ul {
		float: right;
		position: absolute;
	    top: 50%;
	    right: 20%;
	    margin-top: 100px;
	}

}